/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Open+Sans:wght@300;400;500;700&display=swap');


/*index.js and show.html CSS live here */
body {
  margin: 0px 20px 20px 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #E4E2FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subjectContainer {/* lesson plan tabs on index page */
  background-color: white;
  border: 1px solid purple;
  border-radius: 15px;
  margin: 70px;
  padding: 30px;
  width: 300px;
  display: inline-block;
}
/*top and bottom index container tabs */
.top{
display: flex;
justify-content:center
}
.bottom{
display: flex;
justify-content:center
}

/*index content tabs text */
.subjectName {
  color: grey;
  font-weight:500;
}
.lessonTitle {
  color:#1F157B;
  font-weight:900;
}
.objective {
  color: #1F157B;
  font-weight: 900;
}
.lessonType {
  color: #FF914D;
}
.createLesson { /*button*/
  background-color: #1F157B;
  color: white;
  font-weight:900;
  font-size: 20px;
  border-radius: 30px;
  height: 50px;
  width: 100%;
  box-shadow: 2px 4px 20px 0px #020004b8;
  
}

.createLesson:hover {
  -webkit-transform: translateY(-1px);
	transform: translateY(-2px);
}


/*show.html css */
div.scroll {/* background square with scroll bar*/
  background-color: white;
  position: absolute;
  border-radius: 30px;
  height:70%;
  width: 85%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  top: 10%;
  left: 7%;
}
button {
background-color:#1F157B;
color: white;
position: absolute;
top: 85%;
left: 80%;
height: 6%;
width: max-content;
border-radius: 15px;
font-family: open-sans;
font-size: 21px;
cursor: pointer;
}

button:hover{
  -webkit-transform: translateY(-1px);
	transform: translateY(-2px);
  cursor: pointer;
  
}
.logo {/* logo for all pages*/
  position: absolute;
  height: 16%;
  width: 10%;
}

/*Responsive design */
@media only screen and (max-width: 1100px) {
  .subjectContainer {
    background-color: white;
    border: 1px solid purple;
    border-radius: 15px;
    margin: 70px;
    padding: 30px;
    width: 300px;
  }
  .top{
    display:contents;
    }
  .bottom{
      display:contents;
    }
    .logo {
      height: 100px;
      width: auto;
    }
    button {
      position: absolute;
      left: 65%;
      height: 5%;
      font-size: 17px;
      cursor: pointer;
      }
      .createLesson:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-2px);
        cursor: pointer;
        
      }
  }
    /* responsive design for logo on all pages */
@media only screen and (max-width: 1100px) {
  .logo {
    height: 100px;
    width: auto;
   
  }
}