body {
    background: linear-gradient(to bottom right, white ,#E4E2FF, #9F6EFF ,#1F157B);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    margin: 0px 20px 20px 20px;
}
.mainContent{
    position: absolute;
    bottom: 30%;
    left: 35%;
}
.loginContainer{
    background-color: white;
    width: 350px;
    height: 40%;
    border-radius: 8px;
    box-shadow: 2px 4px 20px 0px #020004b8;
    text-align: center;
    padding: 20px;
    transition: ease all 0.5s;
}
.logo {/* logo for all pages*/
    position: absolute;
    height: 15%;
    width: 10%;   
}
.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
}
.boxSize{
    padding: 15px;
    width: 60%;
}

hr {
    border-top: 1px solid rgb(184, 182, 186);
  }
  button{
    background:#1F157B;
    border-radius: 20px;
    width: 70%;
    outline:none;
    border:none;
    padding: 15px;
    color: white;
    font-weight: bold;
    transition: ease all 0.5s;
    cursor: pointer;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .loginButton:hover {
    opacity: 0.8;
  }

  .icon {
    background: #1F157B;
    padding: 16px;
    color:white;
    min-width: 20px;
    text-align:center;
  }

    /* responsive design for logo on all pages */
@media only screen and (max-width: 1100px) {
    .logo {
      height: 100px;
      width: auto;   
    }
  }